[Desktop Entry]
Type=Application
Name=GK Oscillator
Comment=Graphic oscillator with selectable sound I/O
Exec=gk-oscillator
Icon=gk-oscillator
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=true
StartupWMClass=gk-oscillator
